**.aux
**.fdb_latexmk
**.fls
**.log
**.out
**.upa
**.m4a
**.upb
**.psd
**.xdv
**.bbl
**.svg
**.bcf
**.blg
**.run.xml
**.synctex.gz
.DS_Store
**/Papers
**/Powerpoint
**/PDFs
**/Quellen
**/Book PDF
**/Summary_Challenge
**/Prüfung
**/DMTT
**/ETW
**/STUK2
**/AGT
**/DMK
**/ETKK
**/LATKK
**/STUK1
